@use "../base/variables" as *;

.about {
  width: 100%;
  display: flex;
  flex-direction: column;

  .container-about {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10%;
    padding: 5%;

    .about-me {
      display: flex;
      flex-direction: column;
      gap: 5%;
    }
  }
}

h2 {
  font-weight: unset;
  color: $main-color;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  padding-top: 5%;
  text-shadow: $box-shadow;
}

p {
  font-size: 2rem;
  color: $main-color;
  letter-spacing: 0.2rem;
  height: 100%;
}

.about-me {
  width: 50%;
}
