@use "../base/variables" as *;

.about {
  width: 100%;
  display: flex;
  flex-direction: column;

  h2 {
    font-weight: unset;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    padding-top: 5%;
    text-shadow: $box-shadow;
  }

  .container-about {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10%;
    padding: 5%;

    .about-me {
      display: flex;
      flex-direction: column;
      gap: 5%;
      width: 50%;
      p {
        font-size: 2rem;
        color: $main-color;
        letter-spacing: 0.2rem;
        height: 100%;
      }
    }
  }
}
