$background-color: #e5dfdb;
$main-color: #611c2b;
$main-font: "Julius Sans One", sans-serif;
$box-shadow: 0 4px 10px rgba(97, 28, 43, 0.25);
$box-shadow-text: 0 4px 4px rgba(0, 0, 0, 0.2);
$title-size: 2rem;
$text-size: 1rem;
